{% extends 'layout.html' %}

{% block title %}Services{% endblock%}

{% block nav%}
<a class="navbar-brand" href="{{ url_for('userMain') }}">My Little Ponies Pet Spa</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('appointment') }}">Appointment</a></li>
        <li class="nav-item"><a class="nav-link active " href="{{ url_for('services') }}">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('userMembership') }}">Membership</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% with message = get_flashed_messages() %}
                    {{ message[0] }}
                {% endwith %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" href="{{ url_for('customerEditProfile') }}">View Profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log Out</a></li>
            </ul>
          </li>
    </ul>
</div>
{% endblock %}
{% block main %}
    <header class="container-fluid services_page_hero px-5">
        <div class="row justify-content-around align-items-center px-5">
            <h2 class="text-start service-title col-10 ps-4">Available Services</h2>
            <img src="static/Services_hero.png" alt="" class="col-2 img-fluid">
        </div>
    </header>
    <div class="container">
        <h2 class="mt-5 mb-4 fw-bold">Book an Appointment</h2>
        <form method="POST" action="{{ url_for('services') }}">

                <div class="service-card">
                <div class="row mb-2 fw-bold">
                    <div class="col-8 fs-3 text-decoration-underline">Service</div>
                    <div class="col-4 text-end fs-3 text-decoration-underline">Price</div>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% for service in messages[1] %}
                    <div class="row mb-2">
                        <div class="col-8">
                        <div class="form-check">
                            <input class="form-check-input" name="services" value="{{ service[0] }}" type="checkbox">
                            <label class="form-check-label" for="eyeCleaning">{{ service[0] }}</label>
                        </div>
                        </div>
                        <div class="col-4 text-end">{{ service[1] }}</div>
                    </div>
                    {% endfor %}
                {% endwith %}
                
                </div>
        
            <!-- Booking Bar -->
            <div class="booking-bar my-5 d-flex flex-wrap gap-2 justify-content-between">
                <input type="date" class="form-control w-auto" name="date">
                <select class="form-select w-auto px-5" name="petType">
                <option selected disabled>Pet Type</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <option value="rabbit">Rabbit</option>
                </select>
                <input type="text" class="form-control w-auto" name="petName" placeholder="Pet name">
                <button type="submit" class="btn px-5">Book</button>
            </div>
        </form>
  </div>

{% endblock %}